##############################################################################
##
##                    tRIBS Distributed Hydrologic Model
##
##              TIN-based Real-time Integrated Basin Simulator
##                       Ralph M. Parsons Laboratory
##                  Massachusetts Institute of Technology
## 
##
##  {{ file_name }}	Input File Template for Generation of tRIBS *.in
##                      files used for model parameters and file path names.
##
##############################################################################



##=========================================================================
##
##
##			Section 1: Model Run Parameters
##
##
##=========================================================================

## Time Variables  
## --------------           

STARTDATE:      Starting time 			 	 (MM/DD/YYYY/HH)
{{ run_parameters.time_variables.STARTDATE.strftime('%m/%d/%Y/%H') }}

RUNTIME:     	Run duration				 (hours)
{{ run_parameters.time_variables.RUNTIME }}

TIMESTEP:    	Unsaturated zone computational time step (mins)
{{ run_parameters.time_variables.TIMESTEP }}

GWSTEP:      	Saturated zone computational time step 	 (mins)
{{ run_parameters.time_variables.GWSTEP }}

METSTEP:     	Meteorological data time step 		 (mins)
{{ run_parameters.time_variables.METSTEP }}

ETISTEP:	Evapotranspiration, interception, snow time step (hours)
{{ run_parameters.time_variables.ETISTEP }}

RAININTRVL:  	Time interval in rainfall input 	 (hours)
{{ run_parameters.time_variables.RAININTRVL }}

OPINTRVL:    	Output interval 			 (hours)
{{ run_parameters.time_variables.OPINTRVL }}

SPOPINTRVL:   	Spatial output interval 		 (hours)
{{ run_parameters.time_variables.SPOPINTRVL }}

INTSTORMMAX: 	Interstorm interval 			 (hours)
{{ run_parameters.time_variables.INTSTORMMAX }}

RAINSEARCH:     Rainfall search interval (hours)
{{ run_parameters.time_variables.RAINSEARCH }}

## Routing Variables
## -----------------

BASEFLOW:    	Baseflow discharge 			 (m3/s)  
{{ run_parameters.routing_variables.BASEFLOW }}

VELOCITYCOEF: 	Discharge-velocity coefficient 		 
{{ run_parameters.routing_variables.VELOCITYCOEF }}

KINEMVELCOEF:   Kinematic routing velocity coefficient
{{ run_parameters.routing_variables.KINEMVELCOEF }}

VELOCITYRATIO: 	Stream to hillslope velocity coefficient 
{{ run_parameters.routing_variables.VELOCITYRATIO }}

FLOWEXP: 	Nonlinear discharge coefficient		 
{{ run_parameters.routing_variables.FLOWEXP }}

CHANNELROUGHNESS: Uniform channel roughness value        
{{ run_parameters.routing_variables.CHANNELROUGHNESS }}

CHANNELWIDTH:     Uniform channel width                  (meters)
{{ run_parameters.routing_variables.CHANNELWIDTH }}

CHANNELWIDTHCOEFF:	Coefficient in width-area relationship 
{{ run_parameters.routing_variables.CHANNELWIDTHCOEFF }}

CHANNELWIDTHEXPNT:	Exponent in width-area relationship 
{{ run_parameters.routing_variables.CHANNELWIDTHEXPNT }}

CHANNELWIDTHFILE:	Filename that contains channel widths
{{ run_parameters.routing_variables.CHANNELWIDTHFILE.path }}

##=========================================================================
##
##
##			Section 2: Model Run Options
##
##
##  OPTMESHINPUT:	1  tMesh data		5  Arc/Info *.net
##			2  Point file		6  Arc/Info *.lin,*.pnt
##			3  ArcGrid (random)	7  Scratch
##			4  ArcGrid (hex)	8  Point Triangulator
##
##  RAINSOURCE:		1  Stage III radar
##			2  WSI radar
##                      3  Rain gauges
##
##  OPTEVAPOTRANS:	0  Inactive evapotranspiration
##			1  Penman-Monteith method
##                      2  Deardorff method
##  			3  Priestley-Taylor method
##                      4  Pan evaporation measurements
##
##  OPTSNOW:		0  Inactive snow layer
##			1  Single snow layer
##
##  HILLALBOPT:		0  Snow albedo for hillslopes
##			1  Land-cover albedo for hillslopes
##			2  Dynamic albedo for hillslopes
##
##  OPTRADSHELT:	0  Local controls on shortwave radiation
##			1  Remote controls on diffuse shortwave 
##			2  Remote controls on entire shortwave
## 			3  No sheltering
##
##  OPTINTERCEPT:	0  Inactive interception 
## 			1  Canopy storage method
##			2  Canopy water balance method
##  
##  OPTLANDUSE:		0  Static land cover maps
##			1  Dynamic updating of land cover maps
##
##  OPTLUINTERP:  	0  Constant (previous) values between land cover
##			1  Linear interpolation between land cover
##
##  GFLUXOPTION:	0  Inactive ground heat flux
##			1  Temperature gradient method
##                      2  Force_Restore method
##
##  METDATAOPTION:	0  Inactive meteorological data
##			1  Weather station point data
##			2  Gridded meteorological data
##
##  CONVERTDATA:	0  Inactive data preprocessing
##			1  Active met data preprocessing
##     			2  Active rain gauge data preprocessing
##			3  Active DMIP met data preprocessing
##
##  OPTBEDROCK:		0  Uniform bedrock depth (double)
##			1  Variable bedrock depth (grid)
##
##  WIDTHINTERPOLATION: 0  Interpolate between measured and observed
##	                1  Interpolate only between measured
##
##  OPTGWFILE:		0  Resample ASCII grid file in GWATERFILE
##		      	1  Read in Voronoi polygon file with GW levels
##
##  OPTRUNON:		0  No Runon
##			1  Runon 
##
##=========================================================================

OPTMESHINPUT:   Mesh input data option
{{ run_options.OPTMESHINPUT.value }}

RAINSOURCE:     Rainfall data source option
{{ run_options.RAINSOURCE.value }}

OPTEVAPOTRANS: 	Option for evapoTranspiration scheme
{{ run_options.OPTEVAPOTRANS.value }}

OPTSNOW:	Option for single layer snow model
{{ run_options.OPTSNOW.value }}

HILLALBOPT:	Option for albedo of surrounding hillslopes
{{ run_options.HILLALBOPT.value }}

OPTRADSHELT:	Option for local and remote radiation sheltering
{{ run_options.OPTRADSHELT.value }}

OPTINTERCEPT: 	Option for interception scheme 2
{{ run_options.OPTINTERCEPT.value }}

OPTLANDUSE:	Option for static or dynamic land cover
{{ run_options.OPTLANDUSE.value }}

OPTLUINTERP:	Option for interpolation of land cover 
{{ run_options.OPTLUINTERP.value }}

OPTPERCOLATION: Option for channel percolation losses
{{ run_options.OPTPERCOLATION.value }}

GFLUXOPTION: 	Option for ground heat flux
{{ run_options.GFLUXOPTION.value }}

METDATAOPTION:  Option for meteorological data
{{ run_options.METDATAOPTION.value }}

CONVERTDATA:   	Option to convert met data format
{{ run_options.CONVERTDATA.value }}

OPTBEDROCK:     Option for uniform or variable depth
{{ run_options.OPTBEDROCK.value }}

OPTGROUNDWATER:  Option for running the groundwater module
{{ run_options.OPTGROUNDWATER.value }}

WIDTHINTERPOLATION:  Option for interpolating width values
{{ run_options.WIDTHINTERPOLATION.value }}

OPTGWFILE:	Option for groundwater initial file
{{ run_options.OPTGWFILE.value }}

OPTRUNON:	Option of runon in overland flow paths
{{ run_options.OPTRUNON.value }}

OPTRESERVOIR: 
{{ run_options.OPTRESERVOIR.value }}

OPTSOILTYPE:
{{ run_options.OPTSOILTYPE.value }}


##=========================================================================
##
##
##			Section 3: Model Input Files and Pathnames
##
##
##=========================================================================

## Mesh Generation
## -----------------

INPUTDATAFILE:    tMesh input file base name for Mesh files
{{ files_and_pathnames.mesh_generation.INPUTDATAFILE.path }}

INPUTTIME:      tMesh input time slice (Option 1)
{{ files_and_pathnames.mesh_generation.INPUTTIME }}

ARCINFOFILENAME:  tMesh input file base name Arc files
{{ files_and_pathnames.mesh_generation.ARCINFOFILENAME.path }}

POINTFILENAME:    tMesh input file name Points files
{{ files_and_pathnames.mesh_generation.POINTFILENAME.path }}


## Resampling Grids
## -----------------


SOILTABLENAME:    Soil parameter reference table (*.sdt)
{{ files_and_pathnames.resampling_grids.SOILTABLENAME.path }}

SOILMAPNAME:      Soil texture ASCII grid (*.soi)
{{ files_and_pathnames.resampling_grids.SOILMAPNAME.path }}

LANDTABLENAME:    Land use parameter reference table (*.ldt)
{{ files_and_pathnames.resampling_grids.LANDTABLENAME.path }}

LANDMAPNAME:  	  Land use ASCII grid (*.lan)
{{ files_and_pathnames.resampling_grids.LANDMAPNAME.path }}

GWATERFILE:       Ground water ASCII grid (*.iwt) 
{{ files_and_pathnames.resampling_grids.GWATERFILE.path }}

DEMFILE:	  DEM ASCII grid for sky and land view factors (*.dem)
{{ files_and_pathnames.resampling_grids.DEMFILE.path }}

RAINFILE:         Base name of the radar ASCII grid
{{ files_and_pathnames.resampling_grids.RAINFILE.path }}

RAINEXTENSION:    Extension for the radar ASCII grid 
{{ files_and_pathnames.resampling_grids.RAINEXTENSION }}

DEPTHTOBEDROCK:   Uniform depth to bedrock (meters)
{{ files_and_pathnames.resampling_grids.DEPTHTOBEDROCK }}

BEDROCKFILE:      Bedrock depth ASCII grid (*.brd) 
{{ files_and_pathnames.resampling_grids.BEDROCKFILE.path }}

LUGRID:		Land cover grid data file (*.gdf)
{{ files_and_pathnames.resampling_grids.LUGRID.path }}

SCGRID:		Soil cover grid data file (*.gdf)
{{ files_and_pathnames.resampling_grids.SCGRID.path }}

## Meteorological Variables
## ------------------

TLINKE:		   Atmospheric turbidity parameter
{{ run_parameters.meteorological_variables.TLINKE }}

MINSNTEMP:	Minimum snow temperature 
{{ run_parameters.meteorological_variables.MINSNTEMP }}

TEMPLAPSE:  Temperature lapse rate
{{ run_parameters.meteorological_variables.TEMPLAPSE }}

PRECLAPSE:  Precipitation lapse rate
{{ run_parameters.meteorological_variables.PRECLAPSE }}

SNLIQFRAC:  Maximum fraction of liquid water in snowpack
{{ run_parameters.meteorological_variables.SNLIQFRAC }}

## Meteorological Data
## ------------------

HYDROMETSTATIONS:  Hydrometeorological station file (*.sdf)
{{ files_and_pathnames.meteorological_data.HYDROMETSTATIONS.path }}

HYDROMETGRID:  	   Hydrometeorological ASCII grid (*.gdf)
{{ files_and_pathnames.meteorological_data.HYDROMETGRID.path }}

HYDROMETCONVERT:   Hydrometeorological data conversion file (*.mdi)
{{ files_and_pathnames.meteorological_data.HYDROMETCONVERT.path }}

HYDROMETBASENAME:  Hydrometeorological data BASE name (*.mdf)
{{ files_and_pathnames.meteorological_data.HYDROMETBASENAME.path }}

GAUGESTATIONS: 	   Rain Gauge station file (*.sdf)
{{ files_and_pathnames.meteorological_data.GAUGESTATIONS.path }}

GAUGECONVERT:      Rain Gauge data conversion file (*.mdi)
{{ files_and_pathnames.meteorological_data.GAUGECONVERT.path }}

GAUGEBASENAME:	   Rain Gauge data BASE name (*.mdf)
{{ files_and_pathnames.meteorological_data.GAUGEBASENAME.path }}

## Output Data
## -----------

OUTFILENAME:	   Base name of the tMesh and variable output
{{ files_and_pathnames.output_data.OUTFILENAME.path }}

OUTHYDROFILENAME:  Base name for hydrograph output
{{ files_and_pathnames.output_data.OUTHYDROFILENAME.path }}

OUTHYDROEXTENSION: Extension for hydrograph output
{{ files_and_pathnames.output_data.OUTHYDROEXTENSION }}

RIBSHYDOUTPUT:    Compatibility with RIBS User Interface
{{ files_and_pathnames.output_data.RIBSHYDOUTPUT }}

NODEOUTPUTLIST:    Filename with Nodes for Dynamic Output (*.nol)
{{ files_and_pathnames.output_data.NODEOUTPUTLIST.path }}

HYDRONODELIST:     Filename with Nodes for HydroModel Output (*.nol)
{{ files_and_pathnames.output_data.HYDRONODELIST.path }}

OUTLETNODELIST:    Filename with Interior Nodes for  Output (*.nol)
{{ files_and_pathnames.output_data.OUTLETNODELIST.path }}

OPTSPATIAL:        Option for generating spatial output
{{ files_and_pathnames.output_data.OPTSPATIAL.value }}

OPTINTERHYDRO:     Option for generating intermediate hydrographs
{{ files_and_pathnames.output_data.OPTINTERHYDRO.value }}

OPTHEADER:         Option for generating headers in output files
{{ files_and_pathnames.output_data.OPTHEADER.value }}


##=========================================================================
##
##
##			Section 4: Model Modes
##
##
##  FORECASTMODE:	0  No Forecasting		
##			1  Single or Updating QPF Forecast
##			2  Persistence Forecast
## 	                3  Climatological Forecast
##
##  RAINDISTRIBUTION:	0  Spatially-distributed Radar
##			1  Mean Areal Precipitation Radar
##
##  STOCHASTICMODE:	0  No Stochastic Mode	 4  Mean+Sine Forcing
##                      1  Mean Forcing     	 5  Random+Sine Forcing
##                      2  Random Forcing	 6  Weather Generator
##                      3  Sinusoidal Forcing
##                      
##=========================================================================

## Rainfall Forecasting
## --------------------

FORECASTMODE:	  Rainfall Forecasting Mode Option
{{ modes.rainfall_forecasting.FORECASTMODE.value }}

FORECASTTIME:	  Single Forecast Time (hours from start)
{{ modes.rainfall_forecasting.FORECASTTIME }}

FORECASTLEADTIME:  Forecast Lead Time (hour interval) 
{{ modes.rainfall_forecasting.FORECASTLEADTIME }}

FORECASTLENGTH:	   Forecast Window Length (hours)
{{ modes.rainfall_forecasting.FORECASTLENGTH }}

FORECASTFILE:	   Base name of the radar QPF grids
{{ modes.rainfall_forecasting.FORECASTFILE.path }}

CLIMATOLOGY:	   Rainfall climatology (mm/hr)
{{ modes.rainfall_forecasting.CLIMATOLOGY }}

RAINDISTRIBUTION:  Distributed or MAP radar rainfall	
{{ modes.rainfall_forecasting.RAINDISTRIBUTION.value }}

## Stochastic Climate Forcing
## --------------------------

STOCHASTICMODE:	   Stochastic Climate Mode Option
{{ modes.stochastic_climate_forcing.STOCHASTICMODE.value }}

PMEAN:		   Mean rainfall intensity (mm/hr)	
{{ modes.stochastic_climate_forcing.PMEAN }}

STDUR:		   Mean storm duration (hours)
{{ modes.stochastic_climate_forcing.STDUR }}

ISTDUR:		   Mean time interval between storms (hours) 
{{ modes.stochastic_climate_forcing.ISTDUR }}

SEED:		   Random seed
{{ modes.stochastic_climate_forcing.SEED }}

PERIOD:		   Period of variation (hours) 
{{ modes.stochastic_climate_forcing.PERIOD }}

MAXPMEAN:	   Maximum value of mean rainfall intensity (mm/hr) 
{{ modes.stochastic_climate_forcing.MAXPMEAN }}

MAXSTDURMN:        Maximum value of mean storm duration (hours) 
{{ modes.stochastic_climate_forcing.MAXSTDURMN }}

MAXISTDURMN: 	   Maximum value of mean interstorm period (hours) 
{{ modes.stochastic_climate_forcing.MAXISTDURMN }}

WEATHERTABLENAME:  File with input parameters for weather generator
{{ modes.stochastic_climate_forcing.WEATHERTABLENAME.path }}

##=========================================================================
##
##
##                      Section 5: Restart Mode Options
##
##
##  RESTARTMODE:        0  No reading or writing of restart (fast development)
##                      1  Write files only (for initial runs)
##                      2  Read file only (to start at some specified time)
##                      3  Read a restart file and continue to write 
##                         restart files
##
##=========================================================================

RESTARTMODE:        Restart Mode Option
{{ modes.restart.RESTARTMODE.value }}

RESTARTINTRVL:      Time set for restart output (hours)
{{ modes.restart.RESTARTINTRVL }}

RESTARTDIR:         Path of directory for restart output
{{ modes.restart.RESTARTDIR.path }}

RESTARTFILE:        Actual file to restart a run
{{ modes.restart.RESTARTFILE.path }}

##=========================================================================
##
##
##                      Section 6: Parallel Mode Options
##
##
##  PARALLELMODE:       0  Run in serial mode
##                      1  Run in parallel mode
##
##  GRAPHOPTION:        0  Default partitioning of the graph
##                      1  Reach-based partitioning
##                      2  Inlet/outlet-based partitioning
##
##=========================================================================

PARALLELMODE:       Parallel or Serial Mode Option
{{ modes.parallel.PARALLELMODE.value }}
 
GRAPHOPTION:        Graph File Type Option
{{ modes.parallel.GRAPHOPTION.value }}

GRAPHFILE:          Reach connectivity filename (graph file option 1,2)
{{ modes.parallel.GRAPHFILE.path }}

##=========================================================================
##
##
##                      Section 7: Visualization Options
##
##
##  OPTVIZ:             0  Do NOT write binary output files for viz
##                      1  Write binary output files for viz
##
##=========================================================================
OPTVIZ:             Option for whether to write viz binary files
{{ visualization.OPTVIZ.value }}

OUTVIZFILENAME:     Filename for viz binary files
{{ visualization.OUTVIZFILENAME.path }}

##=========================================================================
##
##
##			End of Template.in
##
##
##=========================================================================
